@model EO.Models.CreateGuestDto

@{
    ViewData["Title"] = "Edit Guest";
    var id = ViewBag.GuestId;
}

<h3>Edit Guest</h3>

<form asp-action="Edit" asp-route-id="@id" method="post">

    <label>Name</label>
    <input asp-for="Name" class="form-control" />

    <label class="mt-2">Designation</label>
    <input asp-for="Designation" class="form-control" />

    <label class="mt-2">Avatar URL</label>
    <input asp-for="Avatar" class="form-control" />

    <button type="submit" class="btn btn-primary mt-3">
        Update
    </button>

    <a asp-action="Index" class="btn btn-secondary mt-3">
        Cancel
    </a>

</form>